<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Students</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script>
        function confirmDelete() {
            var checkBox = document.getElementById("confirmDelete");
            var list = document.getElementsByClassName("deleteButton");

            if (checkBox.checked == true){
                Array.prototype.forEach.call(list, element => element.style.display = "inline");
            } else {
                Array.prototype.forEach.call(list, element => element.style.display = "none");
            }
        }
    </script>

</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Manage Students</h2></div>
    <div class="m-2">
        <a class="h3" th:href="@{/students/new_student}">Add new student</a>
    </div>

    <div th:if="@{message}">
        <div cls="aleasrt alert-success text-center">[[${message}]]</div>
    </div>
    <div>
        <style>
            table {
                width: 100%;
            }
        </style>
        <div>
            <h4><input type="checkbox" id="confirmDelete" onclick="confirmDelete()" >
            <label for="confirmDelete">Delete</label></h4>
        </div>
        <table class="table-bordered">
            <thead class="table-dark">
            <tr>
                <th><h3>    ID    </h3></th>
                <th><h3>    First Name    </h3></th>
                <th><h3>    Last Name    </h3></th>
                <th><h3>    Email    </h3></th>
                <th><h3>   </h3></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="student : ${listStudents}">
                <tr>
                    <td><h4>[[${student.id}]]</h4></td>
                    <td><h4>[[${student.firstName}]]</h4></td>
                    <td><h4>[[${student.lastName}]]</h4></td>
                    <td><h4>[[${student.email}]]</h4></td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/students/journals/' + ${student.id}}">Journal</a>
                        <a class="h4 mr-3" th:href="@{'/students/edit/' + ${student.id}}">Edit</a>
                        <a class="h4 mr-3 deleteButton" th:href="@{'/students/delete/' + ${student.id}}" style="display: none;">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>